# Ignore node_modules directory
node_modules/

serviceAccountKey.json


# Ignore environment variables file
.env

# Ignore logs
*.log

# Ignore the build directory
/dist

# Ignore IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore Firebase JSON files (sensitive information)
/path/to/serviceAccountKey.json
